n8n_advance_chatbot_HR/embedding_workflow_hr.json
{
  "name": "embedding_workflow_hr",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -128
      ],
      "id": "0a8226bb-4865-4bab-b180-9c10c64c0b0f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "896175e4-4cc8-4f6a-9a97-2e9ab02aeaa3",
              "name": "repo_owner",
              "value": "LinkedInLearning",
              "type": "string"
            },
            {
              "id": "bc1b117d-ea1d-42bd-8c91-05a23d2fff42",
              "name": "repo_name",
              "value": "create-custom-chatbots-with-n8n-and-vector-search-4078220",
              "type": "string"
            },
            {
              "id": "17ff2357-ffd5-45d6-809f-3afe25109145",
              "name": "doc_path",
              "value": "advanced-chatbot/documents",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -128
      ],
      "id": "b4107709-69bc-4ffc-a2ee-f4723645bdac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.doc_path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        -128
      ],
      "id": "57a4daf3-de13-4a90-b129-ce0c574b4236",
      "name": "List files",
      "webhookId": "18424c28-e7f9-4cce-ba70-2553484c0715",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Rcxd1LgpGUbxWjLo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        464,
        -128
      ],
      "id": "3308fc28-9c4d-4035-a26b-977189e4b887",
      "name": "Get a file",
      "webhookId": "c4021980-f580-4328-8e0a-107e016fd45e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Rcxd1LgpGUbxWjLo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-chatbot",
          "mode": "list",
          "cachedResultName": "hr-chatbot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        -128
      ],
      "id": "5e9f2db0-5d23-4d92-858f-0665114fee92",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "acUWpYAivzsvOPn2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        112
      ],
      "id": "d0d87c5e-168e-4f71-8885-0c1fe1bde8a8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JIUu5KzbBv5nFCHN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "Document ID",
                "value": "={{ $json.name }}"
              },
              {
                "name": "Document URL",
                "value": "={{ $json.html_url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1264,
        112
      ],
      "id": "472eec33-a811-4a37-9cd7-0190f1f6429c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1344,
        320
      ],
      "id": "1e116555-4441-40d2-b6ca-33d4c123ada5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hr-chatbot-ajk11sd.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "deleteAll",
              "value": "True"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -192
      ],
      "id": "b56d8e3f-73f5-4bd4-84e9-e1600f54f728",
      "name": "HTTP Request",
      "credentials": {
        "pineconeApi": {
          "id": "acUWpYAivzsvOPn2",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        -128
      ],
      "id": "f86470d9-302c-4ac7-bce2-d28222e9474c",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce57c365-6fc8-4ec7-aa07-414590f4246c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54c2508f7f156030cef703f89cc1e49c126a2352db191f05e03c345d28f1ad19"
  },
  "id": "TeAmdbCx9gXawwkb",
  "tags": []
}