n8n_advance_chatbot_HR/retrieval_workflow.json
{
  "name": "retrieval_workflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b9b9d436-01ed-47b7-88d4-940fee310060",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-chatbot",
          "mode": "list",
          "cachedResultName": "hr-chatbot"
        },
        "prompt": "={{ $json.query }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "9c68fe12-942b-4bd9-9349-0c512bb220b2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "acUWpYAivzsvOPn2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "9d1a0d5b-e40b-4ea5-ab69-dd1959d8677a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JIUu5KzbBv5nFCHN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "911f1231-c09d-4211-94d6-4ac47fc9dde0",
              "name": "Content",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            },
            {
              "id": "8b958146-0841-4901-985e-cc8c6e911d91",
              "name": "Filename",
              "value": "={{ $json.document.metadata['Document ID'] }}",
              "type": "string"
            },
            {
              "id": "edd38b7b-204f-4da8-8c87-b5e8acef5ff0",
              "name": "URL",
              "value": "={{ $json.document.metadata['Document URL'] }}",
              "type": "string"
            },
            {
              "id": "1622ba13-8aea-421b-8ceb-23cd40023f84",
              "name": "Page",
              "value": "={{ $json.document.metadata['loc.pageNumber'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "6330a7ef-7a99-4079-9f10-9bf4421a8ae3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "43b28423-1ba4-416c-a6f0-cb69d42230da",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e345f4cd-e5dd-4add-a81f-1c5c6353c64e",
              "name": "response",
              "value": "={{$json.toJsonString()}} {{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "cdc311ef-7478-47f4-abf3-18fe8ee3ad97",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "sick days"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47d16af1-9f0f-461c-a492-ff0c89ba1fdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54c2508f7f156030cef703f89cc1e49c126a2352db191f05e03c345d28f1ad19"
  },
  "id": "o3imbNKoKCyzRMBJ",
  "tags": []
}